@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
  --terminal-green: #05df72;
  --terminal-cyan: #0ea5e9;
  --terminal-purple: #a855f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-terminal-green: var(--terminal-green);
  --color-terminal-cyan: var(--terminal-cyan);
  --color-terminal-purple: var(--terminal-purple);
  --font-inter: var(--font-inter);
  --font-vt323: var(--font-vt323);
  --font-caveat: var(--font-caveat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bitcount), monospace;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #05df72;
}